<?xml version="1.0"?>
<!--
  * Copyright (c) 2019 Kaliop Digital Commerce (https://digitalcommerce.kaliop.com) All Rights Reserved.
  * https://opensource.org/licenses/OSL-3.0  Open Software License (OSL 3.0)
  * Kaliop_CatalogGenericProductItem
  * tchausson <tchausson@kaliop.com> <dt@kaliop.com>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Kaliop_CatalogGenericProductItem" setup_version="1.0.3">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
